flows.json
[{"id":"214ddb47.c2e0d4","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"f09a4ed1.b6acb","type":"ui_form","z":"214ddb47.c2e0d4","name":"","label":"","group":"dd6d707f.69fb8","order":2,"width":0,"height":0,"options":[{"label":"layer_height","value":"lh","type":"number","required":true,"rows":null},{"label":"wall_thickness","value":"wt","type":"number","required":true,"rows":null},{"label":"infill_density","value":"id","type":"number","required":true,"rows":null},{"label":"infill_pattern","value":"ip","type":"text","required":true,"rows":null},{"label":"nozzle_temperature","value":"nt","type":"number","required":true,"rows":null},{"label":"bed_temprature","value":"bt","type":"number","required":true,"rows":null},{"label":"print_speed","value":"ps","type":"number","required":true,"rows":null},{"label":"fan_speed","value":"fs","type":"number","required":true,"rows":null},{"label":"roughness","value":"r","type":"number","required":true,"rows":null},{"label":"tension_strenght","value":"ts","type":"number","required":true,"rows":null},{"label":"elongation","value":"e","type":"number","required":true,"rows":null}],"formValue":{"lh":"","wt":"","id":"","ip":"","nt":"","bt":"","ps":"","fs":"","r":"","ts":"","e":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":280,"wires":[["fbc46f3d.8431b"]]},{"id":"fbc46f3d.8431b","type":"function","z":"214ddb47.c2e0d4","name":"","func":"global.set(\"lh\",msg.payload.lh)\nglobal.set(\"wt\",msg.payload.wt)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"ip\",msg.payload.ip)\nglobal.set(\"nt\",msg.payload.nt)\nglobal.set(\"bt\",msg.payload.bt)\nglobal.set(\"ps\",msg.payload.ps)\nglobal.set(\"fs\",msg.payload.fs)\nglobal.set(\"r\",msg.payload.r)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"e\",msg.payload.e)\nvar apikey=\"WNCzRIBrkZZsZFeuBlf37tcuh5w3vQeAsbGNjfwmm8N5\";\nmsg.headers={\"Content-Type\": \"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":200,"wires":[["b715cb17.f3cd18"]]},{"id":"b715cb17.f3cd18","type":"http request","z":"214ddb47.c2e0d4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.bluemix.net/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":360,"wires":[["c4b54d92.77e09"]]},{"id":"c4b54d92.77e09","type":"function","z":"214ddb47.c2e0d4","name":"Pre Prediction","func":"var lh=global.get('lh')\nvar wt=global.get('wt')\nvar id=global.get('id')\nvar ip=global.get('ip')\nvar nt=global.get('nt')\nvar bt=global.get('bt')\nvar ps=global.get('ps')\nvar fs=global.get('fs')\nvar r=global.get('r')\nvar ts=global.get('ts')\nvar e=global.get('e')\nvar token=msg.payload.access_token\nvar instance_id=\"8287cb22-e9a9-4396-8c34-7a9ba5a673b3\"\nmsg.headers={'Content-Type':'application/json',\"Authorization\": \"Bearer\"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\":[{\"fields\":[\"layer_height\",\"wall_thickness\",\"infill_density\",\"infill_pattern\",\"nozzle_temperature\",\"bed_temperature\",\"print_speed\",\"fan_speed\",\"roughness\",\"tension_strenght\",\"elongation\"],\"values\":[[lh,wt,id,ip,nt,bt,ps,fs,r,ts,e]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":200,"wires":[["3a8f855d.1457ea"]]},{"id":"3a8f855d.1457ea","type":"http request","z":"214ddb47.c2e0d4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/7f107a73-b723-4166-a369-5fca40bec653/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":360,"wires":[["56c899f8.dda868","1c96bf8d.df8b6"]]},{"id":"1c96bf8d.df8b6","type":"debug","z":"214ddb47.c2e0d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":200,"wires":[]},{"id":"56c899f8.dda868","type":"function","z":"214ddb47.c2e0d4","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":200,"wires":[["725df5bd.c72d0c"]]},{"id":"725df5bd.c72d0c","type":"ui_text","z":"214ddb47.c2e0d4","group":"dd6d707f.69fb8","order":3,"width":0,"height":0,"name":"","label":"Material","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":360,"wires":[]},{"id":"dd6d707f.69fb8","type":"ui_group","z":"","name":"3D Printer Material Prediction","tab":"1f7cb11e.048a8f","order":1,"disp":true,"width":"6","collapse":false},{"id":"1f7cb11e.048a8f","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]